body {
     margin: 0;
     padding: 0;
     font-family: 'Helvetica';
   }

  ul, menu, li {
         padding: 0;
         }

@font-face {
     font-family: 'Helvetica';
     src: url( ../fonts/helveticaneuecyr-bold.woff);
     }


.layer {
     position: relative;
     overflow: hidden;
     background-image: url(../imgs/sky.png);
     background-size: cover;
     }

.main {
    position: relative;
    width: 600px;
    margin: 0 auto;
    margin-top: 190px;
    margin-bottom: 190px;
    background-image: inherit;
    background: rgba(40, 40, 40, 0.7);
    background-size: cover;
     }

.menu {
     display: inline-block;
     width: 100%;
     margin: 0;
     color: rgb(92, 175, 231);
     background-color: rgb(8, 82, 146);
 }

.menu li {
    position: relative;
    display: inline-block;
    height: 25px;
    padding-left: 15px;
    padding: 13px;
    float: left;
    text-align: center;
    color: rgb(92, 175, 231);
    background-color: rgb(8, 82, 146);
   }

.menu li:hover {
     background-color: rgb(78, 171, 218);
     color: white;
     cursor: pointer;
   }

.menu li:first-child {
    margin-left: 500px;
    text-align: right;
  }

  .menu li:nth-child(6) {
    width: 150px;
      }

 .flag {
   float: left;
       }

a {
    color: white;
  }

.menu li:nth-child(5) {
    border-right: 1px solid rgb(78, 171, 218);
  }

.title1 {
   padding-top: 3px;
   padding-bottom: 3px;
   margin-bottom: 30px;
   border-bottom: 2px solid white;
   color: white;
   font-size: 27px;
   text-align: center;
 }

form input {
   margin-bottom: 10px;
   border: none;
   font-size: 19px;
 }

button[type="submit"] {
   width: 312px;
   height: 43px;
   box-sizing: border-box;
   border: 2px solid rgb(54, 79, 143);
   margin-left: 150px;
   border-radius: 5px;
   font-size: 20px;
   box-shadow:  0 0 1px;
   cursor: pointer;
   background-color: rgb(54, 79, 143);
   color: white;
   }

button[type="submit"]:before {
   content:'f';
   display: inline-block;
   width: 30px;
   height: auto;
   color: white;
   float: left;
   border-right: 1px inset rgb(54, 79, 143);
   font-size: 30px;
   font-weight: bold;
   text-align: justify;
}

button[type="submit"]:after {
  content:'>';
  display: inline-block;
  padding-left: 17px;
  color: white;
  font-weight: bold;
  font-size: 14px;

}

button[type="Create my Account"] {
   width: 200px;
   height: 43px;
   margin-left: 200px;
   margin-top: 15px;
   border-radius: 5px;
   background-color: rgb(72, 163, 215);
   box-sizing: border-box;
   border: 2px solid rgb(72, 163, 215);
   color: white;
   font-size: 20px;
   cursor: pointer;
   }

form input[type=text] {
   width: 300px;
   padding: 10px;
   margin-left: 150px;
   margin-top: 10px;
   background-color: rgb(14, 14, 14);
   color: white;
  }

form input:hover {
  background-color: rgb(27, 82, 136)
 }

form input:hover {
  box-shadow: 0 0 10px 5px rgba(104, 155, 204, 0.8);
}

form input[type=checkbox] {
   margin-left: 150px;
   color: white;
}

.p1 {
color: white;
font-size: 13px;
text-align: center;
padding-bottom: 10px;
}

span {
color: white;

}

.text1 {
 position:relative;
 margin-top: 25px;
 margin-bottom: 25px;
 margin-left: 150px;
 margin-right: 150px;
 z-index:1;
 overflow:hidden;
 text-align:center;
 }

.text1:before,
.text1:after {
 content:'';
 position:relative;
 display:inline-block;
 width:100%;
 height:1px;
 z-index:-1;
 vertical-align:middle;
 background:rgb(0, 0, 0);
 }

.text1:before {
 right:20px;
 margin:0px 0 0 -100%;
 }

.text1:after {
 left:20px;
 margin:0 -100% 0 0;
 }
