table {
    margin-left: 150px;
    width: 1000px;
    height: 700px;
    border-spacing: 0;
    border-collapse: collapse;
    border: 1px solid black;
}

tr {
  border: 7px solid black;

}
td {
  border: 7px solid black;
}
